.wrap-accordion {
  .wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .ico-arrow-down {
      width: 20px;
      height: 20px;

      //   transform: rotate(-180deg);
    }
  }
}
